.navigation_bar {
  /* border: coral 3px solid; */
  padding: 0 1rem;
  height: 4.5rem;
}

/* .navigation_left {
  border:cornflowerblue 3px solid;
}

.navigation_right {
  border: darkgoldenrod 3px solid;
} */

.nav_logo {
  margin-right: 1.5rem;
  font-size: 1.6rem;
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Roboto Slab', serif;
  letter-spacing: normal;
  color: var(--azure);
}

.nav_logo_emph {
  font-size: 0.9rem !important;
  color: var(--bubble-gum-pink);
  text-transform:capitalize;
}

.nav_item {
  color: var(--black-two);
  margin: 0 0.2rem;
}
