.navigation_bar {
  padding: 0 1rem;
  height: 5rem;
}

.nav_logo {
  margin-right: 1.5rem;
  font-size: 2rem;
  font-family: 'Roboto Slab', serif;
  letter-spacing: normal;
  color: var(--azure);
}

.nav_logo_emph {
  font-size: 0.9rem !important;
  color: var(--bubble-gum-pink);
}

.nav_item {
  margin: 0 0.4rem;
}

.nav_link {
  font-family: 'Roboto Slab', serif;
  color: var(--black-two);
  letter-spacing: 0.938px;
  font-size: 0.8rem;
  line-height: 23px;
  font-weight: 450;
  text-transform: uppercase;
  position: relative;
}

.nav_link::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--bubble-gum-pink);
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform ease-in-out 0.5s;
}

.nav_link:hover {
  color: var(--bubble-gum-pink);
  animation: fading 1s ease-out 0s;
}

.nav_link:hover::after {
  transform: scale(1, 1);
}